<div class="bg-image">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="username">Usuario:</label>
                <input type="text" class="form-control" id="dni" formControlName="dni" placeholder="NIF/NIE">
                <div *ngIf="loginForm.controls['dni'].invalid && (loginForm.controls['dni'].dirty || loginForm.controls['dni'].touched)" class="alert alert-danger">
                  <div *ngIf="loginForm.controls['dni'].hasError('required')">
                    El usuario es requerido
                  </div>
                  <div *ngIf="loginForm.controls['dni'].hasError('pattern')">
                    El usuario no es valido
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert alert-danger">
                  <div *ngIf="loginForm.controls['password'].hasError('required')">
                    La contraseña es requerida
                  </div>
                </div>
              </div>
              <button type="submit" mat-raised-button color="accent" [disabled]="loginForm.invalid">Iniciar sesión</button>
            </form>
          </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="register()">¿Aún no tienes cuenta? Regístrate</button>
            </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
