<div class="container bg-light">
  <h1>Datos de contacto</h1>
  <form [formGroup]="datosContactoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="pais">País</label>
      <input type="text" class="form-control" formControlName="pais" id="pais">
      <ngb-alert [dismissible]="false" *ngIf="datosContactoForm.get('pais')?.hasError('required') && (datosContactoForm.get('pais')?.touched || isSubmitted)">El pais es requerido</ngb-alert>
    </div>
    <div class="form-group">
      <label for="provincia">Provincia</label>
      <input type="text" class="form-control" formControlName="provincia" id="provincia">

      <ngb-alert [dismissible]="false" *ngIf="datosContactoForm.get('provincia')?.hasError('required') && (datosContactoForm.get('provincia')?.touched || isSubmitted)">La provincia es requerido</ngb-alert>
    </div>
    <div class="form-group">
      <label for="ciudad">Ciudad</label>
      <input type="text" class="form-control" formControlName="ciudad" id="ciudad">

      <ngb-alert [dismissible]="false" *ngIf="datosContactoForm.get('ciudad')?.hasError('required') && (datosContactoForm.get('ciudad')?.touched || isSubmitted)">La ciudad es requerido</ngb-alert>
    </div>
    <div class="form-group">
      <label for="calle">Calle</label>
      <input type="text" class="form-control" formControlName="calle" id="calle">
      <ngb-alert [dismissible]="false" *ngIf="datosContactoForm.get('calle')?.hasError('required') && (datosContactoForm.get('calle')?.touched || isSubmitted)">La calle es requerido</ngb-alert>
    </div>
    <div class="form-group">
      <label for="piso">Piso</label>
      <input type="text" class="form-control" formControlName="piso" id="piso">
      <ngb-alert [dismissible]="false" *ngIf="datosContactoForm.get('piso')?.hasError('required') && (datosContactoForm.get('piso')?.dirty || isSubmitted)">El piso es requerido</ngb-alert>
    </div>
    <div class="form-group">
      <label for="numero">Número</label>
      <input type="number" class="form-control" formControlName="numero" id="numero">
      <ngb-alert [dismissible]="false" *ngIf="datosContactoForm.get('numero')?.hasError('required') && (datosContactoForm.get('numero')?.touched || isSubmitted)">El numero es requerido</ngb-alert>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
