<div class="sidebar" [class.open]="isOpen">
  <nav class="sidebar__nav">
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <a href="#" class="sidebar__link">Opción 1</a>
      </li>
      <li class="sidebar__item">
        <a href="#" class="sidebar__link">Opción 2</a>
      </li>
      <li class="sidebar__item">
        <a href="#" class="sidebar__link">Opción 3</a>
      </li>
    </ul>
  </nav>
</div>


<!--
<div class="sidebar">
  <a (click)="isExpanded = !isExpanded"><i class="material-icons">menu</i></a>
  <a routerLink="/"><i class="material-icons">home</i></a>
  <a routerLink="/datosPersonales"><i class="material-icons">person</i></a>
  <a routerLink="/datosLaborales"><i class="material-icons">work</i></a>
  <a routerLink="/datosContacto"><i class="material-icons">person_add</i></a>
</div>

<div *ngIf="isExpanded" class="sidebar">
  <a (click)="isExpanded = !isExpanded"><i class="material-icons">menu</i></a>
  <a routerLink="/"><i class="material-icons">home</i> Inicio</a>
  <a routerLink="/datosPersonales"><i class="material-icons">person</i> Datos personales</a>
  <a routerLink="/datosLaborales"><i class="material-icons">work</i> Datos laborales</a>
  <a routerLink="/datosContacto"><i class="material-icons">person_add</i> Datos contacto</a>
</div>
-->
