<mat-card class="container">
  <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()" class="">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required>
      <mat-error *ngIf="formulario.get('nombre')?.hasError('required')">El nombre es requerido</mat-error>
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido" required>
      <mat-error *ngIf="formulario.get('apellido')?.hasError('required')">El apellido es requerido</mat-error>
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>Correo electrónico</mat-label>
      <input matInput formControlName="correo" required placeholder="example@exmaple.com">
      <mat-error *ngIf="formulario.get('correo')?.hasError('required')">El correo electrónico es requerido</mat-error>
      <mat-error *ngIf="formulario.get('correo')?.hasError('email')">Ingrese un correo electrónico válido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Contraseña" formControlName="password">
      <mat-error *ngIf="formulario.get('password')?.hasError('required')">
        La contraseña es requerida
      </mat-error>
      <mat-error *ngIf="formulario.get('password')?.hasError('minlength')">
        La contraseña debe tener al menos 8 caracteres
      </mat-error>
      <mat-error *ngIf="formulario.get('password')?.hasError('maxlength')">
        La contraseña no debe tener más de 24 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword">
      <mat-error *ngIf="formulario.get('confirmPassword')?.hasError('passwordMismatch')">Las contraseñas no
        coinciden</mat-error>
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>DNI</mat-label>
      <input matInput formControlName="dni" required>
      <mat-error *ngIf="formulario.get('dni')?.hasError('required')">El DNI es requerido</mat-error>
      <mat-error *ngIf="formulario.get('dni')?.hasError('pattern')">Ingrese un DNI válido (8 dígitos)</mat-error>
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>Fecha de nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" required placeholder="dd/mm/yyyy">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker (dateInput)="agregarEventoFecha($event)"></mat-datepicker>
      <mat-error *ngIf="formulario.get('fechaNacimiento')?.hasError('required')">La fecha de nacimiento es
        requerida</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Enviar</button>
  </form>
</mat-card>
